* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:  system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.flexboxcol {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flexboxwraprow {
    display:flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap:20px;
}

body {
    @extend .flexboxcol;
    background: #fff;
    .banner {
        margin: 50px 0 30px 0;
        text-align: center;
        height:auto;
        line-height:40px;
        padding:5px;
        color:white;
        width:100%;
        background: linear-gradient(90deg,rgba(45,156,219, 0.6),rgba(155,81,224,0.6));
        a {
            color:white;
            text-decoration: underline;
            &:hover {
                color:tomato;
            }
        }
    }
    h3 {
        letter-spacing: -.025em;
        font-size: 36px;
        color: #161e2e;
        margin-bottom: 1.5rem;
        font-weight: 800;
        &:first-child {
            margin-top: 1.5rem;
        }
    }
}
.item {
    width: 270px;
    height:350px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    position:relative;
    overflow: hidden;
    &:hover {
        .content {
            top:0; 
            a {
                opacity:1;
            } 
        }  
        
    }

    .content {
        width:270px;
        height: 350px;
        background-color: white;
        padding:20px;
        padding-top: 0px;
        position:absolute;
        top:75%;
        left:0;
        z-index:1;
        transition:top .4s cubic-bezier(.17,.67,.5,1.03) .15s;
        
        h4 {
            margin-top:10px;
            text-align: left;
            text-shadow: 0 0 0 #32577f;
            font-size: 1.25rem;
            font-weight: 700;
        }
        a {
            font-size: 25px;
            opacity:0;
            transition: opacity 0.5s;
            transition-delay: 0.2s;
            &:nth-of-type(1) {
                margin-right:5px;
                i {
                    color:#0e76a8;
                }
            }
            &:nth-of-type(2) {
                margin-right:5px;
                i {
                    color:#1DA1F2;
                }
            }
        }
        p {
           &:nth-of-type(1) {
               margin-bottom:5px;
               text-align: left;
               line-height: 1.4rem;
               color: rgba(37,47,63);
           }
           &:nth-of-type(2) {
            margin-top:5px;
            text-align:justify;
            color: #6b7280;
            font-size: .875rem;
            font-weight: 200;
        }
        }
    }
}
.strateji, .elci, .ekip {
    @extend .flexboxwraprow;
    padding-left:40px;
    padding-right:40px;
    margin-bottom: 1.5rem;
}
.strateji {
    .item {
            background-repeat: no-repeat;
            background-size: contain;
        &:nth-of-type(1) {
            background-image: url(https://cdn.sanity.io/images/9kdepi1d/production/c01d160077696398193d254e7649ce26f5391b4f-634x655.jpg?w=300&h=310&fit=crop&fm=webp);
           
        }
        &:nth-of-type(2) {
            background-image: url(https://cdn.sanity.io/images/9kdepi1d/production/b160130d094ac853dbd841d80ad1a78f9494cdd9-1042x1072.png?w=300&h=309&fit=crop&fm=webp);
        }
        &:nth-of-type(3) {
            background-image: url(https://cdn.sanity.io/images/9kdepi1d/production/adf51f6e737bdefec8af07f1915225a1a633cd79-1000x1013.jpg?w=300&h=304&fit=crop&fm=webp);
        }
        &:nth-of-type(4) {
            background-image: url(https://cdn.sanity.io/images/9kdepi1d/production/86266c1d209d83868a5c9bb8cda52eda230e401b-768x1024.jpg?w=300&h=400&fit=crop&fm=webp);
        }
    }
    
    
}